html {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  background-color: #000;
  text-rendering: optimizeLegibility;
}
body {
  font-size: 100%;
}
h1 {
  font-size: 2em;
  line-height: 1.25;
  color: #fafafa;
  padding-left: 0.5em;
  margin-bottom: 0.2em;
}
h3 {
  font-size: 1.375em;
  line-height: 1.1363;
  margin-top: 0;
}
h4 {
  font-size: 1.125em;
  line-height: 1.1111;
  color: #fafafa;
  padding-left: 1.5em;
  margin-top: 0;
}
p {
  font-size: 1em;
  line-height: 1.25;
}
img {
	display: block;
	border: 0;
	width: 100%;
	height: 300px;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}
.cards {
  display: block;
  width: 100%;
}
.card {
  background-color: #fafafa;
  margin-bottom: 2em;
}
.content {
  padding: 1.2em;
  line-height: 1.6;
}
.quote {
  color: #808080;
}
.foot {
  color: #fafafa;
  text-align: center;
  padding-top: 2em;
}
footer {
  padding-bottom: 2em;
}


@media only screen and (min-width: 48em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    flex: 0 1 calc(50% - 1em);
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  h4 {
    line-height: 1.2222;
    margin-bottom: 1em;
  }
  p {
    font-size: 1em;
    line-height: 1.375;
  }
}

@media screen and (min-width: 52em) {
    .center {
      margin: 0 auto;
      padding: 0 1em;
    }
}

@media only screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
  p {
    font-size: 1em;
    line-height: 1.375;
  }
}
